.main-page{
	margin-top:50px
}



.header-image{
  background-image: url(/assets/header12.jpg);
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-content{
	font-size:100px;
	padding-top:100px;
}