<h1>complete</h1>
<p>name:<%= @user.family_name %><%= @user.first_name %></p>
<p>content:<%= @post.content %></p>
<p>place:<%= @post.place %></p>
<hr>
<p><a href ="/posts" class ="btn btn-primary">return to top</a></p>