<h1>deleted</h1>
<hr>
<p>name:<%= @user.family_name %><%= @user.first_name %></p>
<p>content:<%= @post.content %></p>
<p>place:<%= @post.place %></p>
<hr>
<a href="/posts" class = "btn btn-primary">return to top</a>